# Node artifacts
node_modules
yarn.lock
pnpm-lock.yaml
npm-debug.log
.pnpm-debug.log

# Next/Build artifacts
.next
.next/**
dist
build
coverage

# VCS and editor
.git
.gitignore
.vscode
.DS_Store

# Logs and temp
*.log
tmp/
temp/

# Misc
*.sqlite
*.db
__pycache__/
*.pyc
